<h1> Cart </h1>

<% @carts.each do |cart| %>
    <%= form_tag("/remove_item/#{cart.id}") do %>
        <%= submit_tag "Remove", class: "btn btn-light" %>
        <%= Product.find(cart.product_id).artist_name %>
        <%= cart.quantity %>
    <% end %>
    <br>
    <%= form_tag("/purchase/active_order") do %>
        <%= submit_tag "Purchase", class: "btn btn-default" %>
    <% end %>
<% end %>